@import "../reindeer/legacy-styles.css";

.v-app {
	background: rgb(235,235,235);
}

.v-panel-content {
	background: rgb(245,245,245);
}

.dropzone {
	border: 4px solid rgb(140, 140, 140);
}

.pickup {
	margin: 2px;
}

.solution {
	border: 4px solid rgb(140, 140, 140);
	margin: 4px;
	margin-left: 5px;
}

.history {
	border: 1px solid rgb(0, 0, 0);
	margin: 1px;
}

.circle {
	border-radius: 50%;
}

.v-nativebutton.guess {
	font-size: 20px;
	font-weight: bold;
}