@import "../reindeer/reindeer.scss";

.mastermind {
	@include reindeer;
	
	.red {
		background-color: red;
	}
	.green {
		background-color: green;
	}
	.yellow {
		background-color: yellow;
	}
	.blue {
		background-color: blue;
	}
	.purple {
		background-color: purple;
	}
	.orange {
		background-color: orange;
	}
	
	.black {
		background-color: black;
	}
	.white {
		background-color: white;
	}
	
	.dropzone {
		border: 5px solid rgb(140,140,140)
	}
	
	.circle {
		border-radius: 50%;
	}
}